@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Segment[0].Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Segment[0].Length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Segment[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Segment[0].Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Segment[0].Rights)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Segment[0].Material)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Segment)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rights)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>