@page
@model IndexModel

@{
    ViewBag.Title = "Your lists";
}

<h1>@ViewBag.Title</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lists[0].Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lists[0].BroadcastDay) / @Html.DisplayNameFor(model => model.Lists[0].Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lists[0].BroadcastTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lists[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lists[0].CostCenter)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Lists)
    {
        <tr>
            <td>
                @Html.DisplayFor(_ => item.Id)
            </td>
            <td>
                @($"{item.BroadcastDay:d}") / @Html.DisplayFor(_ => item.Duration) 
            </td>
            <td>
                @Html.DisplayFor(_ => item.BroadcastTitle)
            </td>
            <td>
                @Html.DisplayFor(_ => item.Title)
            </td>
            <td>
                @Html.DisplayFor(_ => item.CostCenter)
            </td>
            <td>
                <a asp-page="/Segments/Index" asp-route-listId="@item.Id">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>